[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
coverage = "*"
pyyaml = "*"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
dj-database-url = "*"
gunicorn = "*"
django-cors-headers = "*"
sendgrid = "*"
razorpay = "*"
mysqlclient = "*"
pillow = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
